@model Game.Models.MonsterNew

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonsterNew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonsterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonsterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonsterHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonsterHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonsterATK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonsterATK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonsterExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonsterExp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonsterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
