@model IEnumerable<Game.Models.MonsterNew>

@{
    ViewBag.Title = "Index";
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>怪物基本資料表</h2>

<p>
    <a href="@Url.Action("Index","Home")">返回至功能主控版</a>
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MonsterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonsterHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonsterATK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonsterExp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MonsterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonsterHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonsterATK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonsterExp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MonsterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MonsterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MonsterID })
        </td>
    </tr>
}

</table>
